{% extends 'core/base.html' %}
{%block title%} Posts | {{user}} {%endblock %}
{% block content %}

<section class="my-5" style="background-color: burlywood;">
    <div class="container py-5">
        {% for post in posts %}
        <div class="row mb-3">
            <div class="col-xl-9 mx-auto">
                <div class="p-5 text-center rounded" style="background-color: rgb(224, 224, 224);">
                    <h2 class="mb-4">
                        <span class="h5">{{post.published|date:"SHORT_DATE_FORMAT"}}</span>
                        <br>
                        <span>{{post.title}}</span>
                    </h2>
                    <p class="mb-4">
                        {% if post.image %}
                        <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{post.image.url}}" alt="">
                        {%endif%}
                    </p>
                    <p class="mb-4">
                        {{post.content | safe | linebreaks}}
                    </p>
                    <p class="mb-0  mt-3">
                        <span>Publicado por
                            <em><b><a href="{% url 'user' post.author.id %}" class="text-dark">
                                        {{post.author}}
                                    </a></b></em> en
                            <em>
                                {%for categoria in post.category.all %}
                                <a href="{% url 'category' categoria.id %}" class="link">
                                    {{categoria.name}} {%if not forloop.last%},{%endif%}
                                </a>
                                {%endfor%}
                            </em>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}